
.idea/install-the-cse4001-docker-assignment.iml
.idea/modules.xml
.idea/vcs.xml
node_modules/.bin/jpeg-autorotate
node_modules/.bin/jpeg-autorotate.cmd
node_modules/.bin/jpeg-autorotate.ps1
node_modules/.bin/opencollective-postinstall
node_modules/.bin/opencollective-postinstall.cmd
node_modules/.bin/opencollective-postinstall.ps1
node_modules/zlibjs/README.md
node_modules/zlibjs/README.en.md
node_modules/zlibjs/package.json
node_modules/zlibjs/LICENSE
node_modules/zlibjs/ChangeLog.md
node_modules/zlibjs/bin/zlib_and_gzip.min.js
node_modules/zlibjs/bin/zlib_and_gzip.dev.min.js
node_modules/zlibjs/bin/zlib.pretty.js
node_modules/zlibjs/bin/zlib.pretty.dev.js
node_modules/zlibjs/bin/zlib.min.js
node_modules/zlibjs/bin/zlib.dev.min.js
node_modules/zlibjs/bin/zip.min.js
node_modules/zlibjs/bin/zip.dev.min.js
node_modules/zlibjs/bin/unzip.min.js
node_modules/zlibjs/bin/unzip.dev.min.js
node_modules/zlibjs/bin/rawinflate.min.js
node_modules/zlibjs/bin/rawinflate.dev.min.js
node_modules/zlibjs/bin/rawdeflate.min.js
node_modules/zlibjs/bin/rawdeflate.dev.min.js
node_modules/zlibjs/bin/node-zlib.js
node_modules/zlibjs/bin/node-zlib.dev.js
node_modules/zlibjs/bin/inflate_stream.min.js
node_modules/zlibjs/bin/inflate.min.js
node_modules/zlibjs/bin/inflate_stream.dev.min.js
node_modules/zlibjs/bin/inflate.dev.min.js
node_modules/zlibjs/bin/gzip.min.js
node_modules/zlibjs/bin/gzip.dev.min.js
node_modules/zlibjs/bin/gunzip.min.js
node_modules/zlibjs/bin/gunzip.dev.min.js
node_modules/zlibjs/bin/deflate.min.js
node_modules/zlibjs/bin/deflate.dev.min.js
node_modules/zlibjs/bin/crc32.min.js
node_modules/zlibjs/bin/crc32.dev.min.js
node_modules/zlibjs/bin/.gitkeep
node_modules/yargs-parser/README.md
node_modules/yargs-parser/package.json
node_modules/yargs-parser/LICENSE.txt
node_modules/yargs-parser/CHANGELOG.md
node_modules/yargs-parser/build/lib/yargs-parser.js
node_modules/yargs-parser/build/lib/yargs-parser-types.js
node_modules/yargs-parser/build/lib/tokenize-arg-string.js
node_modules/yargs-parser/build/lib/string-utils.js
node_modules/yargs-parser/build/lib/index.js
node_modules/yargs-parser/build/index.cjs
node_modules/yargs-parser/browser.js
node_modules/wrappy/wrappy.js
node_modules/wrappy/README.md
node_modules/wrappy/package.json
node_modules/wrappy/LICENSE
node_modules/whatwg-url/README.md
node_modules/whatwg-url/package.json
node_modules/whatwg-url/LICENSE.txt
node_modules/whatwg-url/lib/utils.js
node_modules/whatwg-url/lib/URL.js
node_modules/whatwg-url/lib/url-state-machine.js
node_modules/whatwg-url/lib/URL-impl.js
node_modules/whatwg-url/lib/public-api.js
node_modules/webidl-conversions/README.md
node_modules/webidl-conversions/package.json
node_modules/webidl-conversions/LICENSE.md
node_modules/webidl-conversions/lib/index.js
node_modules/tr46/package.json
node_modules/tr46/lib/mappingTable.json
node_modules/tr46/lib/.gitkeep
node_modules/tr46/index.js
node_modules/tr46/.npmignore
node_modules/tesseract.js/src/worker/node/terminateWorker.js
node_modules/tesseract.js/src/worker/node/spawnWorker.js
node_modules/tesseract.js/src/worker/node/send.js
node_modules/tesseract.js/src/worker/node/onMessage.js
node_modules/tesseract.js/src/worker/node/loadImage.js
node_modules/tesseract.js/src/worker/node/index.js
node_modules/tesseract.js/src/worker/node/defaultOptions.js
node_modules/tesseract.js/src/worker/browser/terminateWorker.js
node_modules/tesseract.js/src/worker/browser/spawnWorker.js
node_modules/tesseract.js/src/worker/browser/send.js
node_modules/tesseract.js/src/worker/browser/onMessage.js
node_modules/tesseract.js/src/worker/browser/loadImage.js
node_modules/tesseract.js/src/worker/browser/index.js
node_modules/tesseract.js/src/worker/browser/defaultOptions.js
node_modules/tesseract.js/src/worker-script/utils/setImage.js
node_modules/tesseract.js/src/worker-script/utils/dump.js
node_modules/tesseract.js/src/worker-script/node/index.js
node_modules/tesseract.js/src/worker-script/node/gunzip.js
node_modules/tesseract.js/src/worker-script/node/cache.js
node_modules/tesseract.js/src/worker-script/node/getCore.js
node_modules/tesseract.js/src/worker-script/index.js
node_modules/tesseract.js/src/worker-script/constants/defaultParams.js
node_modules/tesseract.js/src/worker-script/browser/index.js
node_modules/tesseract.js/src/worker-script/browser/gunzip.js
node_modules/tesseract.js/src/worker-script/browser/getCore.js
node_modules/tesseract.js/src/worker-script/browser/cache.js
node_modules/tesseract.js/src/utils/resolvePaths.js
node_modules/tesseract.js/src/utils/log.js
node_modules/tesseract.js/src/utils/getId.js
node_modules/tesseract.js/src/utils/getEnvironment.js
node_modules/tesseract.js/src/utils/circularize.js
node_modules/tesseract.js/src/Tesseract.js
node_modules/tesseract.js/src/index.js
node_modules/tesseract.js/src/index.d.ts
node_modules/tesseract.js/src/createWorker.js
node_modules/tesseract.js/src/createScheduler.js
node_modules/tesseract.js/src/createJob.js
node_modules/tesseract.js/src/constants/PSM.js
node_modules/tesseract.js/src/constants/OEM.js
node_modules/tesseract.js/src/constants/languages.js
node_modules/tesseract.js/src/constants/defaultOptions.js
node_modules/tesseract.js/src/constants/config.js
node_modules/tesseract.js/scripts/webpack.config.prod.js
node_modules/tesseract.js/scripts/webpack.config.dev.js
node_modules/tesseract.js/scripts/webpack.config.common.js
node_modules/tesseract.js/scripts/test-helper.js
node_modules/tesseract.js/scripts/server.js
node_modules/tesseract.js/scripts/.eslintrc
node_modules/tesseract.js/README.md
node_modules/tesseract.js/package.json
node_modules/tesseract.js/examples/node/recognize.js
node_modules/tesseract.js/LICENSE.md
node_modules/tesseract.js/examples/node/download-pdf.js
node_modules/tesseract.js/examples/node/detect.js
node_modules/tesseract.js/examples/browser/download-pdf.html
node_modules/tesseract.js/examples/browser/demo.html
node_modules/tesseract.js/examples/browser/basic.html
node_modules/tesseract.js/examples/browser/basic-edge.html
node_modules/tesseract.js/docs/tesseract_lang_list.md
node_modules/tesseract.js/docs/local-installation.md
node_modules/tesseract.js/docs/images/video-demo.gif
node_modules/tesseract.js/docs/images/tesseract.png
node_modules/tesseract.js/docs/images/demo.gif
node_modules/tesseract.js/docs/image-format.md
node_modules/tesseract.js/docs/faq.md
node_modules/tesseract.js/docs/examples.md
node_modules/tesseract.js/docs/api.md
node_modules/tesseract.js/dist/worker.min.js.map
node_modules/tesseract.js/dist/worker.min.js
node_modules/tesseract.js/dist/tesseract.min.js.map
node_modules/tesseract.js/dist/tesseract.min.js
node_modules/tesseract.js/.gitpod.yml
node_modules/tesseract.js/.gitpod.Dockerfile
node_modules/tesseract.js/.eslintrc
node_modules/tesseract.js-core/tesseract-core.wasm.js
node_modules/tesseract.js-core/tesseract-core.wasm
node_modules/tesseract.js-core/tesseract-core.js
node_modules/tesseract.js-core/tesseract-core.asm.js
node_modules/tesseract.js-core/README.md
node_modules/tesseract.js-core/package.json
node_modules/tesseract.js-core/LICENSE
node_modules/tesseract.js-core/index.js
node_modules/resolve-url/test/resolve-url.js
node_modules/resolve-url/resolve-url.js
node_modules/resolve-url/readme.md
node_modules/resolve-url/package.json
node_modules/resolve-url/LICENSE
node_modules/resolve-url/component.json
node_modules/resolve-url/changelog.md
node_modules/resolve-url/bower.json
node_modules/resolve-url/.jshintrc
node_modules/regenerator-runtime/runtime.js
node_modules/regenerator-runtime/README.md
node_modules/regenerator-runtime/path.js
node_modules/regenerator-runtime/package.json
node_modules/regenerator-runtime/LICENSE
node_modules/piexifjs/README.rst
node_modules/piexifjs/piexif.js
node_modules/piexifjs/package.json
node_modules/piexifjs/LICENSE.txt
node_modules/piexifjs/bower.json
node_modules/piexifjs/azure-pipelines.yml
node_modules/piexifjs/.gitattributes
node_modules/path-is-absolute/readme.md
node_modules/path-is-absolute/package.json
node_modules/.package-lock.json
node_modules/balanced-match/.github/FUNDING.yml
node_modules/balanced-match/index.js
node_modules/balanced-match/LICENSE.md
node_modules/balanced-match/package.json
node_modules/balanced-match/README.md
node_modules/blueimp-load-image/js/index.js
node_modules/blueimp-load-image/js/load-image-exif-map.js
node_modules/blueimp-load-image/js/load-image-exif.js
node_modules/bmp-js/bmp-js.iml
node_modules/bmp-js/.npmignore
node_modules/blueimp-load-image/README.md
node_modules/blueimp-load-image/package.json
node_modules/blueimp-load-image/LICENSE.txt
node_modules/blueimp-load-image/js/load-image.js
node_modules/blueimp-load-image/js/load-image.all.min.js.map
node_modules/blueimp-load-image/js/load-image.all.min.js
node_modules/blueimp-load-image/js/load-image-scale.js
node_modules/blueimp-load-image/js/load-image-orientation.js
node_modules/blueimp-load-image/js/load-image-meta.js
node_modules/blueimp-load-image/js/load-image-iptc.js
node_modules/blueimp-load-image/js/load-image-iptc-map.js
node_modules/blueimp-load-image/js/load-image-fetch.js
node_modules/bmp-js/index.js
node_modules/bmp-js/lib/encoder.js
node_modules/bmp-js/lib/decoder.js
node_modules/bmp-js/LICENSE
node_modules/bmp-js/package.json
node_modules/bmp-js/README.md
node_modules/bmp-js/test/bit1.bmp
node_modules/bmp-js/test/bit16_565.bmp
node_modules/bmp-js/test/bit16_565_out.bmp
node_modules/bmp-js/test/bit16_a444.bmp
node_modules/bmp-js/test/bit16_a444_out.bmp
node_modules/bmp-js/test/bit16_a555.bmp
node_modules/bmp-js/test/bit16_a555_out.bmp
node_modules/bmp-js/test/bit16_x444.bmp
node_modules/bmp-js/test/bit16_x444_out.bmp
node_modules/bmp-js/test/bit16_x555.bmp
*.bmp
node_modules/bmp-js/test/test.js
node_modules/brace-expansion/index.js
node_modules/brace-expansion/LICENSE
node_modules/brace-expansion/package.json
node_modules/brace-expansion/README.md
node_modules/colors/examples/normal-usage.js
node_modules/colors/examples/safe-string.js
node_modules/colors/index.d.ts
node_modules/colors/lib/colors.js
node_modules/colors/lib/custom/trap.js
node_modules/colors/lib/custom/zalgo.js
node_modules/colors/lib/extendStringPrototype.js
node_modules/colors/lib/index.js
node_modules/colors/lib/maps/america.js
node_modules/colors/lib/maps/rainbow.js
node_modules/colors/lib/maps/random.js
node_modules/colors/lib/maps/zebra.js
node_modules/colors/lib/styles.js
node_modules/colors/lib/system/has-flag.js
node_modules/colors/lib/system/supports-colors.js
node_modules/colors/LICENSE
node_modules/colors/package.json
node_modules/colors/README.md
*.ts
node_modules/colors/safe.js
node_modules/colors/themes/generic-logging.js
node_modules/concat-map/.travis.yml
node_modules/concat-map/example/map.js
node_modules/concat-map/index.js
node_modules/concat-map/LICENSE
node_modules/concat-map/package.json
node_modules/concat-map/README.markdown
node_modules/concat-map/test/map.js
node_modules/file-type/index.js
node_modules/file-type/license
node_modules/file-type/package.json
node_modules/file-type/readme.md
node_modules/file-type/supported.js
node_modules/file-type/util.js
node_modules/fs.realpath/index.js
node_modules/fs.realpath/LICENSE
node_modules/fs.realpath/old.js
node_modules/fs.realpath/package.json
node_modules/fs.realpath/README.md
node_modules/glob/common.js
node_modules/glob/glob.js
node_modules/glob/LICENSE
node_modules/glob/README.md
node_modules/glob/package.json
node_modules/glob/sync.js
node_modules/idb-keyval/.babelrc
node_modules/idb-keyval/dist/idb-keyval-amd.js
node_modules/idb-keyval/dist/idb-keyval-amd.min.js
node_modules/idb-keyval/dist/idb-keyval-cjs-compat.min.js
node_modules/idb-keyval/dist/idb-keyval-cjs.js
node_modules/idb-keyval/dist/idb-keyval-iife-compat.min.js
node_modules/idb-keyval/dist/idb-keyval-iife.js
node_modules/idb-keyval/dist/idb-keyval-iife.min.js
node_modules/idb-keyval/dist/idb-keyval.mjs
node_modules/idb-keyval/LICENCE
node_modules/idb-keyval/package.json
node_modules/idb-keyval/README.md
node_modules/idb-keyval/rollup.config.js
node_modules/idb-keyval/tsconfig.json
node_modules/inflight/inflight.js
node_modules/inflight/LICENSE
node_modules/inflight/package.json
node_modules/inflight/README.md
node_modules/inherits/inherits.js
node_modules/inherits/inherits_browser.js
node_modules/inherits/LICENSE
node_modules/inherits/package.json
node_modules/inherits/README.md
node_modules/is-electron/index.js
node_modules/is-electron/LICENSE
node_modules/is-electron/package.json
node_modules/is-electron/README.md
node_modules/is-url/.travis.yml
node_modules/path-is-absolute/license
node_modules/opencollective-postinstall/README.md
node_modules/path-is-absolute/index.js
node_modules/opencollective-postinstall/package.json
node_modules/opencollective-postinstall/index.js
node_modules/opencollective-postinstall/LICENSE
node_modules/once/README.md
node_modules/once/package.json
node_modules/once/once.js
node_modules/once/LICENSE
node_modules/node-fetch/README.md
node_modules/node-fetch/package.json
node_modules/node-fetch/LICENSE.md
node_modules/node-fetch/lib/index.mjs
node_modules/node-fetch/lib/index.js
node_modules/node-fetch/lib/index.es.js
node_modules/node-fetch/browser.js
node_modules/minimatch/README.md
node_modules/minimatch/package.json
node_modules/minimatch/minimatch.js
node_modules/minimatch/LICENSE
node_modules/jpeg-js/README.md
node_modules/jpeg-js/package.json
node_modules/jpeg-js/LICENSE
node_modules/jpeg-js/lib/encoder.js
node_modules/jpeg-js/lib/decoder.js
node_modules/jpeg-js/index.js
node_modules/jpeg-js/CONTRIBUTING.md
node_modules/jpeg-js/.github/workflows/ci.yml
node_modules/jpeg-autorotate/src/transform.js
node_modules/jpeg-autorotate/src/main.js
node_modules/jpeg-autorotate/src/customerror.js
node_modules/jpeg-autorotate/src/cli.js
node_modules/jpeg-autorotate/readme.md
node_modules/jpeg-autorotate/license.md
node_modules/jpeg-autorotate/package.json
node_modules/is-url/test/index.js
node_modules/is-url/package.json
node_modules/is-url/Readme.md
node_modules/is-url/LICENSE-MIT
node_modules/is-url/index.js
node_modules/is-url/History.md
